{
    "www.miamidade.gov": [
        { "search_field": { "CLASS_NAME": "k-input-inner" } },
        { "hyperlink": { "XPATH": "//div[@class='record_folio']//a" } }
    ],
    "ocpaweb.ocpafl.org": [
        { "search_field": { "ID": "PropertyAddress" } }
    ],
    "apps.putnam-fl.com": [
        { "accept_button": { "ID": "btnAccept" } },
        { "search_field": { "ID": "search_address" } }
    ],
    "web.bcpa.net": [
        { "search_field": { "ID": "txtField" } }
    ],
    "qpublic.schneidercorp.com": [
        { "accept_button": { "XPATH": "//a[(contains(@class, 'btn-primary') and text()='Agree')]" } },
        { "search_field": { "ID": "ctlBodyPane_ctl01_ctl01_txtAddress" } }
    ],
    "union.floridapa.com": [
        { "accept_button": { "ID": "button1" } },
        { "search_field": { "XPATH": "//input[@name='StreetName']" } },
        { "hyperlink": { "CLASS_NAME": "pointer" } }
    ],
    "search.leonpa.gov": [
        { "accept_button": { "XPATH": "//button[text()='Agree']" } },
        { "search_field": { "ID": "Address" } },
        { "hyperlink": { "XPATH": "//a[contains(@class, 'no-wrap')]" } }
    ],
    "vcpa.vcgov.org": [
        { "search_field": { "ID": "parcel_search" } },
        { "hyperlink": { "ID": "searchButton" } }
    ],
    "lakecopropappr.com": [
        { "accept_button": { "ID": "cphMain_imgBtnSubmit" } },
        { "search_field": { "ID": "cphMain_txtStreet" } },
        { "hyperlink": { "ID": "cphMain_gvParcels_lView_0" } }
    ],
    "www.collierappraiser.com": [
        { "iframe": { "XPATH": "//frame[@id='rbottom']" } },
        { "accept_button": { "XPATH": "//button[text()='Continue']" } },
        { "iframe": { "XPATH": "//frame[@name='main']" } },
        { "hyperlink": { "XPATH": "//a[text()='Property Search']" } },
        { "accept_button": { "ID": "submit" } },
        { "hyperlink": { "XPATH": "//a[@href='#TabAddress']" } },
        { "search_field": { "ID": "FullAddress" } }
    ],
    "search.pascopa.com": [
        { "search_field": { "ID": "street-num" } },
        { "hyperlink": { "XPATH": "//table[@class='results']//tr[@class='datarow' or @class='datarow ra']/td[2]/div/a" } }
    ],
    "search.property-appraiser.org": [
        { "search_field": { "ID": "PS" } }        
    ],
    "paopropertysearch.coj.net": [
        { "search_field": { "ID": "ctl00_cphBody_tbStreetNumber" , "isSplit": 0, "isEnter": false } },
        { "search_field": { "ID": "ctl00_cphBody_tbStreetName" , "isSplit": 1 } },
        { "hyperlink": { "XPATH": "//*[@id='ctl00_cphBody_gridResults']/tbody/tr[2]/td[1]/a" } }
    ]
}
